.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assure qu'il reste au-dessus */
  background-color: transparent;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, opacity 0.3s ease;
}

/*Header après déffilement*/
.header.transparent {
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

/* Appliquer l'effet seulement sur le logo */
.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.header.transparent .logo a {
  opacity: 0.6; /* le logo devient semi-transparent */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.3rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a.accueil-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}


.header.transparent .nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links a.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}