.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assure qu'il reste au-dessus */
  background-color: transparent;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, opacity 0.3s ease;
}

/*Header après déffilement*/
.header.transparent {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Appliquer l'effet seulement sur le logo -> à changer quand vrai logo */
.logo a {
  text-decoration: none;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.header.transparent .logo a {
  opacity: 0.6; /* le logo devient semi-transparent */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.3rem;
}

.nav-links a {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-decoration: none;
  color: #3e3e3e;
  padding: 0.5rem 1rem;
}

.nav-links a.accueil-link {
  color: #3e3e3e;
  text-decoration: none;
  transition: color 0.3s;
}


.header.transparent .nav-links a {
  color: #3e3e3e;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #3e3e3e;
  cursor: pointer;
  margin-left: auto; 
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.1rem;
  }
}